/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.article-overlay{
  height: 30px; 
  opacity: .8;
}

:root {
  --navbar-height: 140px; /* Ajustez selon la hauteur de votre barre de navigation */
}

[id]:target {
  scroll-margin-top: var(--navbar-height);
}